<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean class="com.model.Person" id="t1">

<property value="101" name="id"/>

<property value="Dhruvil" name="name"/>


<property name="add">


<bean class="com.model.Address" id="t2">

<property value="Rajkot" name="add"/>

</bean>

</property>

</bean>

<alias name="t1" alias="One"/>

</beans>
